li a:hover {
	padding: 17px 29px;
	background-color:black;
	color: red;
	font-weight:bold;
	font-size:17px;
	/*text-transform: uppercase;*/
}

.hover:hover{
	padding: 5px;
	color: red;
	font-weight:bold;
	font-size:17px;
	text-transform: uppercase;
}

nav li a {
	/**/
	text-decoration: none;
	color:white;
	padding: 20px;
	display: block;
	}
	nav li {
	display: inline-block;
	text-align:center;
	}
	nav li a:hover {
	  background:#17c5c5;
		}
	
	section{
		position:relative;
		padding:20px;
		background:rgb(148, 233, 190);
	}
	footer{
		color: rgb(16, 114, 101);
	position:relative;
	margin:auto;
	width:100%;
	height:auto;
	background:rgb(191, 207, 188);
	}
	content{
		position: relative;
	}
